/* meggan.green */

@font-face {
    font-family: 'NeedEverySound';
    src: url('fonts/NeedEverySoundBold-11yv.woff') format('woff'),
    url('fonts/NeedEverySoundBold-11yv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nintend';
    src: url('fonts/NintendBold-RM8E.woff') format('woff'),
         url('fonts/NintendBold-RM8E.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
        }
        
:root {
    --nes-red: #BE2736;
    --near-black: #191919;
    --ltgrey: #D9D9D9;
    --dkgrey: #969696;
    --blue80: #182F74;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* TODO: Better fix for repeat in body bg */
    height: calc(100vh - 300px);
    color: var(--nes-red);
    background-color: var(--blue80);
    background-image: radial-gradient(circle farthest-side at 50% 80%,
                                      var(--blue80) 35%, 
                                      var(--near-black));
    background-size: cover;
}

.console {
    display: block;
    position: relative;
    width: 608px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    /* This is not the ideal spot, but it's okay for now */
    background-image: linear-gradient(90deg, 
                                      transparent, 
                                      var(--near-black) 5% 95%, 
                                      transparent);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.base-top {
    display: block;
    position: relative;
    width: 100%;
    height: 95px;
    border-radius: 3px 3px 1px 1px;
    background-color: var(--ltgrey);
}

.door {
    display: block;
    position: absolute;
    left: 80px;
    width: 349px;
    height: 72px;
    border-radius: 1px 1px 3px 3px;
    background-color: var(--ltgrey);
    /* TODO: Make box-shadow subtler */
    box-shadow: 0 1px 2px 1px rgba(60, 60, 60, .80);
}

.handle {
    display: block;
    position: absolute;
    left: calc(50% - 35px);
    bottom: 0;
    width: 70px;
    height: 4px;
    border-radius: 10px 10px 1px 1px;
    background-color: var(--ltgrey);
    background-image: linear-gradient(var(--ltgrey), var(--ltgrey)),
                      linear-gradient(#EEE, #EEE);
    background-size: 100% 3px, 100%;
    background-repeat: no-repeat;
    box-shadow: 0 -1px 1px 0 rgba(180, 180, 180, .80), 
                0 1px 1px 1px rgba(100, 100, 100, .80);   
}

.text-container {
    display: block;
    position: absolute;
    left: 14px;
    top: 25px;
}

.logo {
    margin-bottom: -1px;
    font-family: 'Nintend', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.name {
    font-family: 'NeedEverySound', Arial, Helvetica, sans-serif;
    font-size: .6em;
}

.tm {
    vertical-align: text-top;
    font-size: .5em;
}

.band {
    display: block;
    position: absolute;
    top: 0;
    right: 75px;
    width: 103px;
    height: 100%;
    border-radius: 1px;
    background-color: var(--near-black);
    box-shadow: 0 -1px 0 1px rgba(20, 20, 20, .80) inset;
    /* TODO: Maybe could use an outer side shadow */
}

.spacer {
    display: block;
    position: absolute;
    top: 21px;
    width: 100%;
    height: 52px;
    border: solid 1px #111;
}

.base-bottom {
    display: block;
    position: relative;
    top: 2px;
    width: 100%;
    height: 104px;
    /* TODO: Make shadow gradient */
}

.rectangle {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    border-radius: 1px 1px 0 0;
    background-color: var(--dkgrey);
}

.trapezoid {
    display: block;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 0;
    border-top: solid 84px var(--dkgrey);
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    border-radius: 2px 2px 3px 3px;
}

.power-container {
    display: block;
    position: absolute;
    top: 0;
    left: 65px;
    width: 167px;
    height: 75px;
    border-radius: 3px;
    background-color: var(--dkgrey);
    /* TODO: Make outer shadow darker and inner shadow lighter */
    box-shadow: 0 1px 2px 1px rgba(120, 120, 120, .80);
}

.light {
    display: block;
    position: absolute;
    top: 47px;
    left: 12px;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    box-shadow: 1px -1px 2px 1px rgba(60, 60, 60, .80);
}

.glow {
    width: 100%;
    height: 100%;
}

.off {
    /* TODO: Make texture overlay */
    background-color: rgba(60, 68, 68, .4);
}

.on {
    background-color: rgba(190, 39, 54, .9);
    box-shadow: 0 0 3px 1px rgba(190, 39, 54, .70);
}

.button-area {
    display: block;
    position: absolute;
    left: 29px;
    top: 36px;
    width: 142px;
    height: 31px;
}

.button-container {
    display: inline-block;
    position: relative;
    width: 59px;
    height: 31px;
    margin-left: 3px;
    border-radius: 0;
    background-color: #6B6B6B;
}

button {
    display: block;
    position: absolute;
    left: 3px;
    bottom: 2px;
    width: 50px;
    height: 24px;
    padding-top: 10px;
    color: var(--nes-red);
    font-family: 'NeedEverySound', Arial, Helvetica, sans-serif;
    font-size: .45em;
    border: none;
    border-top: solid 1px #AAA;
    border-right: solid 1px #AAA;
    border-radius: 1px;
    background-color: var(--dkgrey);
    box-shadow: 2px -1px 2px 3px rgba(40, 40, 40, .80);
}

.plug-area {
    display: block;
    position: absolute;
    top: 13px;
    width: 100%;
    height: 68px;
    border: groove 1px black;
}

.plug-container {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 60px;
    margin: 3px 0 0 3px;
    border: groove 1px black;
    border-radius: 8px;
    color: var(--nes-red);
    font-family: 'NeedEverySound', Arial, Helvetica, sans-serif;
    font-size: .45em;
}

.plug-container::before {
    position: absolute;
    top: -16px;
    left: calc(50% - 3px);
}

#plug-one::before {
    content: "1";
}

#plug-two::before {
    content: "2";
}

.plug {
    display: block;
    /* New to me; very useful for centering vertically and horizontally */
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: solid 5px black;
    border-radius: 8px;
    padding-top: 1px;
    padding-left: 2px;
}

.hole {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 1px;
    border-radius: 50%;
    background-color: black;
}

.hole-visible::before {
    display: inline-block;
    position: relative;
    top: -4px;
    left: 1px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--dkgrey);
    content: '';
}

.hole-hidden {
    background-color: transparent;
}
